# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /
#кодировка 
AddDefaultCharset utf-8

#закрыть доступ к файлу
<Files db_connect.php>
deny from all
</Files>

#ЧПУ
RewriteEngine On
Options +FollowSymlinks
RewriteCond   %{REQUEST_FILENAME} !-d
RewriteCond   %{REQUEST_FILENAME} !-f

RewriteRule ^feedback/$ feedback.php [QSA,L]
RewriteRule ^reg/$ registration.php [QSA,L]
RewriteRule ^mobile/([0-9]+)-([a-z0-9\-]+)/?$ view_content.php?id=$1 [L]



